

.projects{
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
gap: 35px;
margin: 50px 250px;
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
}

img {
    width: 100%;
    border-radius: 20px;
}